<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/global.css" />
    <title>Admin - Agencia Devhouse</title>
  </head>
  <body>
    <%- include('../components/header') %>
    <main>
      <form
        action="/salvar-produto"
        enctype="multipart/form-data"
        method="POST"
      >
        <label>Nome do produto</label>
        <input type="text" name="nome" />
        <label>Descrição do produto</label>
        <input type="text" name="descricao" />
        <label>Imagem do produto</label>
        <input type="file" name="imagem" />
        <button type="submit">Finalizar o cadastro</button>
      </form>
    </main>
  </body>
</html>
