<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/global.css" />
    <title>Admin - Agencia Devhouse</title>
  </head>
  <body>
    <%- include('../components/header') %>
    <main class="produtos">
      <a class="button-create" href="/admin/cadastro-produto"
        >Cadastrar Novo Produto</a
      >
      <table>
        <thead>
          <tr>
            <th>id</th>
            <th>nome</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <% produtos.forEach(produto => { %>
          <tr>
            <td><%= produto.id %></td>
            <td><%= produto.nome %></td>
            <td>
              <form
                method="POST"
                action="/deletar-produto/<%= produto.id %>?_method=DELETE"
              >
                <button type="submit">Excluir</button>
              </form>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </main>
  </body>
</html>
