<header>
  <img
    src="/img/logo.png"
    alt="Agencia - devHouse"
    title="Agencia - devHouse"
    id="logo"
  />
  <img id="menu-mobile" src="/img/menu-icon.png" alt="Menu" title="Menu" />
  <nav class="menu">
    <a href=""> Home </a>
    <a href=""> Produtos </a>
    <a href=""> Depoimentos </a>
    <a href="/blog"> Blog </a>
  </nav>
  <div class="atendimento">
    <a href="tel:+1140028922">(11) 4002-8922</a>
    <button>Atendimento</button>
  </div>
</header>
