<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/forms.css" />
    <title>Depoimentos</title>
  </head>
  <body>
    <%- include('components/header') %>
    <main>
      <form action="/salvarUsuario" method="POST">
        <label>Nome Completo</label>
        <input type="text" name="nome" />
        <label>Email</label>
        <input type="email" name="email" />
        <label>Senha</label>
        <input type="password" name="senha" />
        <button type="submit">Enviar</button>
        <small
          >Já tem um cadastro?
          <a href="/login">Clique aqui e faça login</a></small
        >
      </form>
    </main>
  </body>
</html>
