<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/global.css" />
    <title>Depoimentos</title>
  </head>
  <body>
    <%- include('components/header') %>
    <main>
      <% depoimentos.forEach( depoimento => { %>

      <div>
        <h3><%= depoimento.titulo %></h3>
        <p><%= depoimento.descricao %></p>
        <b><%= depoimento.autor %></b>
      </div>

      <% }) %>
    </main>
  </body>
</html>
