<!DOCTYPE html>
<html lang="pt-BR">
  <head>
  
    <title>Agencia DevHouse</title>
  </head>
  <body>
    
    <h1>Olá sem bem vindo a Agencia DevHouse</h1>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam expedita
      quam quod sapiente fugit veritatis cupiditate, facere quis ad optio quo
      maiores repellat perspiciatis illum laudantium possimus quasi totam
      deserunt.

      <p class="t"></p>
      <img src="/img/banner.png" alt="Banner 1" title="banner-1" />
    </section>
    <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum assumenda perspiciatis maxime aliquam ad quibusdam optio dicta expedita quod impedit, sed numquam, voluptate consequatur adipisci sapiente esse architecto quas eos.</h1>
    <section>
      <h1>Propaganda</h1>
    </section>
    <footer>
      <h1>Agencia devhouse</h1>
    </footer>

  
  </body>
</html>
