<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/global.css" />
    <title>Home | Agencia DevHouse</title>
  </head>
  <body>
    <h1>Olá sem bem vindo a Agencia DevHouse</h1>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam expedita
      quam quod sapiente fugit veritatis cupiditate, facere quis ad optio quo
      maiores repellat perspiciatis illum laudantium possimus quasi totam
      deserunt.
    </p>
    <img src="/img/destaque.jpg" alt="" />
  </body>
</html>
