<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/forms.css" />
    <title>Depoimentos</title>
  </head>
  <body>
    <%- include('components/header') %>
    <main>
      <form>
        <label>Email</label>
        <input type="email" />
        <label>Senha</label>
        <input type="password" />
        <button type="submit">Enviar</button>
        <small>Não tem cadastro? <a href="/cadastro">Clique aqui</a></small>
      </form>
    </main>
  </body>
</html>
