* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
  font-size: 20px;
}

h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  background: gray;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
}
.icon-social {
  width: 80px;
}

header {
  display: flex;
  justify-content: space-around;
  height: 80px;

  align-items: center;
}

.menu a {
  color: #3f3f6c;
  margin-left: 50px;
  text-decoration: none;
  font-size: 22px;
}

.atendimento button {
  background-color: #3751ff;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  padding: 10px;
  border-radius: 40px;
  cursor: pointer;
}

#menu-mobile {
  display: none;
}
#logo {
  transition: transform 1s;
}
#logo:hover {
  transform: scale(1.5);
}

#atendimento {
  position: fixed;
  bottom: 10px;
  right: 50px;
  background: green;
  border-radius: 10px;
  padding: 13px;
  color: #fff;
}

@media (max-width: 465px) {
  .menu {
    display: none;
  }

  .atendimento {
    display: none;
  }

  #menu-mobile {
    display: block;
  }
  header {
    justify-content: space-between;
  }
}

table {
  width: 100%;
  margin-top: 40px;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid black;
}

.button-create {
  background: green;
  padding: 20px;
  border-radius: 50px;
  color: #fff;
  font-family: Roboto;
  text-decoration: none;
}

main.produtos {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  max-width: 80vw;
  margin: 0 auto;
}
